@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-tertiary: hsl(var(--tertiary));
  --color-background: hsl(var(--background));
  --color-contrast-text: hsl(var(--contrast-text));
}

@layer base {
  :root {    
    --border: 0 0% 30%;

    --primary: 0 0% 95%;
    --secondary: 0 0% 90%;
    --tertiary: 0 0% 80%;
    
    --background: 0 0% 10%;
    --contrast-text: 0 0% 90%;
  }
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background;
  }
}

@utility container {
  @apply px-4 sm:px-8;
  margin-inline: auto;

  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

@utility lato {
  font-family: "Lato", sans-serif;
}

@utility alata {
  font-family: "Alata", sans-serif;
}

@utility customBtn {
  @apply flex justify-center text-contrast-text w-40 text-xl lato rounded-4xl border p-1 hover:cursor-pointer items-center
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

#root {
   max-width: 100%;
   margin: 0 auto;
   padding: 0;
   text-align: left;
   font-family: "Alata", "Lato", sans-serif;
}